/* start untuk add-card */
.btn.btn-add-card{
    height: 514px !important;
}

@media only screen and (max-width: 1366px) {
    .btn.btn-add-card{
        height: 489px !important;
    }
}

/* end untuk add-card */