body {
    background-color: lightblue;
}

header, main, footer {
    padding-left: 200px;
}

.pagination li.active{
    background-color: #00b0ff !important;
}

.container{
    padding-top: 15px;
}

.row.pagination{
    margin-bottom: 0px;
}

ul.pagination{
    margin-bottom: 0px;
}

@media only screen and (min-width: 993px) {
    .container {
      width: 95%;
    }
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.breadcrumb{
    font-size: 12px;
}

.breadcrumb:before {
    font-size: 19px;
}

#button-back{
    font-size: 25px;
    padding-left: 0px;
}

#button-back i{
    font-size: 39px;
    margin-top: 2px;
    margin-right: 5px;
    font-weight: 700;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: #039be5;
}

.modal-footer{
    border-top: 1px solid #e0e0e0;
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.modal-header{
    border-bottom: 1px solid #e0e0e0;
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.modal-content{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}